In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import skew,skewtest,norm
import scipy.stats as sta
from scipy.stats import boxcox
from wordcloud import WordCloud,STOPWORDS,ImageColorGenerator
from wordcloud import WordCloud
from mpl_toolkits.mplot3d import Axes3D
import seaborn as sns

In [2]:
df = pd.read_csv('student_performance_dataset_90k.csv')
df.head()

,Student_ID,Region,Gender,Enrollment_Type,Subject_Group,SSC_I_Marks,SSC_II_Marks,HSSC_I_Marks,Attendance_Rate,Parent_Education_Level,Parent_Income,Study_Hours,Extra_Tuition,School_Type,Previous_Failures,Co_Curricular_Activities,Exam_Attempts,HSSC_II_Marks,HSSC_II_Grade
0,1,Mohmand,Male,Regular,Science,682,772,390,59.84,College,Medium,3.27,No,Private,1,No,2,814,A-ONE
1,2,Mohmand,Male,Regular,Science,535,532,800,76.71,Graduate,Low,2.32,Yes,Public,2,Yes,1,504,C
2,3,Mohmand,Female,Private,Arts,697,692,331,81.94,College,Low,4.64,Yes,Private,1,No,2,572,C
3,4,Khyber,Female,Regular,Arts,705,584,603,96.10,College,Medium,3.83,No,Public,0,Yes,2,543,C
4,5,Chitral,Female,Regular,Arts,308,737,812,95.75,High School,Medium,4.47,No,Public,2,No,1,608,B

In [3]:
df.shape

(90000, 19)

In [4]:
df['Student_ID'].value_counts()

Student_ID
1        1
59998    1
60006    1
60005    1
60004    1
        ..
29999    1
29998    1
29997    1
29996    1
90000    1
Name: count, Length: 90000, dtype: int64

In [5]:
df = df.drop(['Student_ID'],axis=1)

In [6]:
df['Region'].value_counts()

Region
Mohmand      18122
Khyber       18032
Peshawar     18007
Charsadda    17964
Chitral      17875
Name: count, dtype: int64

In [7]:
df['Gender'].value_counts()

Gender
Male      45134
Female    44866
Name: count, dtype: int64

In [8]:
df['Enrollment_Type'].value_counts()

Enrollment_Type
Private    45016
Regular    44984
Name: count, dtype: int64

In [9]:
df['Subject_Group'].value_counts()

Subject_Group
Science    45026
Arts       44974
Name: count, dtype: int64

In [10]:
df['Parent_Education_Level'].value_counts()

Parent_Education_Level
High School    30145
College        29972
Graduate       29883
Name: count, dtype: int64

In [11]:
df['Parent_Income'].value_counts()

Parent_Income
High      30449
Low       29966
Medium    29585
Name: count, dtype: int64

In [12]:
df['Extra_Tuition'].value_counts()

Extra_Tuition
No     45127
Yes    44873
Name: count, dtype: int64

In [13]:
df['School_Type'].value_counts()

School_Type
Public     45039
Private    44961
Name: count, dtype: int64

In [14]:
df['Co_Curricular_Activities'].value_counts()

Co_Curricular_Activities
No     45071
Yes    44929
Name: count, dtype: int64

In [15]:
df['HSSC_II_Grade'].value_counts()

HSSC_II_Grade
B        16584
Fail     16462
A        16355
C        16282
D        16172
A-ONE     8145
Name: count, dtype: int64

In [16]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

cat = df.select_dtypes(include='object')

for i in cat:
    df[i] = le.fit_transform(df[i])
df.head()

,Region,Gender,Enrollment_Type,Subject_Group,SSC_I_Marks,SSC_II_Marks,HSSC_I_Marks,Attendance_Rate,Parent_Education_Level,Parent_Income,Study_Hours,Extra_Tuition,School_Type,Previous_Failures,Co_Curricular_Activities,Exam_Attempts,HSSC_II_Marks,HSSC_II_Grade
0,3,1,1,1,682,772,390,59.84,0,2,3.27,0,0,1,0,2,814,1
1,3,1,1,1,535,532,800,76.71,1,1,2.32,1,1,2,1,1,504,3
2,3,0,0,0,697,692,331,81.94,0,1,4.64,1,0,1,0,2,572,3
3,2,0,1,0,705,584,603,96.10,0,2,3.83,0,1,0,1,2,543,3
4,1,0,1,0,308,737,812,95.75,2,2,4.47,0,1,2,0,1,608,2

In [17]:
df['HSSC_II_Grade'].value_counts()

HSSC_II_Grade
2    16584
5    16462
0    16355
3    16282
4    16172
1     8145
Name: count, dtype: int64

In [18]:
from scipy.stats import zscore
z = np.abs(zscore(df))
df1 = df[(z<3).all(axis=1)]
df = df1.copy()

In [19]:
df.skew()

Region                     -0.005528
Gender                     -0.005956
Enrollment_Type             0.000711
Subject_Group              -0.001156
SSC_I_Marks                -0.002929
SSC_II_Marks                0.003293
HSSC_I_Marks               -0.002076
Attendance_Rate             0.012604
Parent_Education_Level     -0.003535
Parent_Income               0.017642
Study_Hours                 0.002989
Extra_Tuition               0.005645
School_Type                -0.001733
Previous_Failures           0.002777
Co_Curricular_Activities    0.003156
Exam_Attempts              -0.004222
HSSC_II_Marks              -0.005614
HSSC_II_Grade              -0.173351
dtype: float64

In [20]:
df.corr(numeric_only=True).abs()['HSSC_II_Marks'].sort_values(ascending=False)

HSSC_II_Marks               1.000000
HSSC_II_Grade               0.948918
Parent_Income               0.008244
Extra_Tuition               0.005513
Enrollment_Type             0.005264
Parent_Education_Level      0.004781
Exam_Attempts               0.003446
Subject_Group               0.003279
Co_Curricular_Activities    0.002537
Attendance_Rate             0.002147
Study_Hours                 0.001777
Gender                      0.001654
SSC_II_Marks                0.001364
School_Type                 0.001246
SSC_I_Marks                 0.001143
HSSC_I_Marks                0.001138
Region                      0.000804
Previous_Failures           0.000167
Name: HSSC_II_Marks, dtype: float64

In [21]:
X = df.drop(['HSSC_II_Marks'],axis=1)
Y = df['HSSC_II_Marks']

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

In [23]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [24]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [25]:
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    mse = mean_squared_error(true,predicted)
    r2score = r2_score(true,predicted)
    rmse = np.sqrt(mean_squared_error(true,predicted))
    return mae,mse,r2score,rmse

In [26]:
models = {
    "Linear Regression":LinearRegression(),
    "Lasso":Lasso(),
    "Ridge":Ridge(),
    "k-Neighbors":KNeighborsRegressor(),
    "Decision Tree":DecisionTreeRegressor(),
    "Random Forest":RandomForestRegressor(),
    "Adaboost Regressor":AdaBoostRegressor()
}

In [27]:
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(x_train,y_train)
    y_pred_train = model.predict(x_train)
    y_pred_test = model.predict(x_test)

    mae_model_train,mse_model_train,r2score_model_train,rmse_model_train = evaluate_model(y_train,y_pred_train)
    mae_model_test,mse_model_test,r2score_model_test,rmse_model_test = evaluate_model(y_test,y_pred_test)

    print(list(models.keys())[i])
    print('Model Performance on Trainig Data')
    print('-Root Mean Squared Error:{:.4f}'.format(rmse_model_train))
    print('-Mean Absolute Error:{:.4f}'.format(mae_model_train))
    print('-R2 Score:{:.4f}'.format(r2score_model_train))
    print('Mean Squared Error:{:.4f}'.format(mse_model_train))

    print('-----------------------------')

    print('Model Performance on Testing Data')
    print('-Root Mean Squared Error:{:.4f}'.format(rmse_model_test))
    print('-Mean Absolute Error:{:.4f}'.format(mae_model_test))
    print('-R2 Score:{:.4f}'.format(r2score_model_test))
    print('Mean Squared Error:{:.4f}'.format(mse_model_test))
    cal = pd.DataFrame(np.c_[y_test,y_pred_test],columns=['Actual Balance','Predicted Balance'])
    print(cal)

    print('='*35)
    print('\n')

Linear Regression
Model Performance on Trainig Data
-Root Mean Squared Error:50.2097
-Mean Absolute Error:39.4897
-R2 Score:0.9001
Mean Squared Error:2521.0162
-----------------------------
Model Performance on Testing Data
-Root Mean Squared Error:49.6307
-Mean Absolute Error:38.9186
-R2 Score:0.9019
Mean Squared Error:2463.2059
       Actual Balance  Predicted Balance
0               328.0         367.348823
1               824.0         717.890243
2               638.0         629.775859
3               782.0         805.143354
4               483.0         454.866244
...               ...                ...
17995           779.0         805.184938
17996           325.0         367.428170
17997           651.0         628.914409
17998           694.0         630.581935
17999           415.0         456.432417

[18000 rows x 2 columns]
===================================


Lasso
Model Performance on Trainig Data
-Root Mean Squared Error:50.2176
-Mean Absolute Error:39.4576
-R2 Score:0.9001
Mean Squared Error:2521.8095
-----------------------------
Model Performance on Testing Data
-Root Mean Squared Error:49.6159
-Mean Absolute Error:38.8743
-R2 Score:0.9019
Mean Squared Error:2461.7352
       Actual Balance  Predicted Balance
0               328.0         367.880420
1               824.0         716.956764
2               638.0         630.010577
3               782.0         804.371381
4               483.0         455.389465
...               ...                ...
17995           779.0         804.924186
17996           325.0         368.408687
17997           651.0         629.810593
17998           694.0         630.276045
17999           415.0         456.206643

[18000 rows x 2 columns]
===================================


Ridge
Model Performance on Trainig Data
-Root Mean Squared Error:50.2097
-Mean Absolute Error:39.4897
-R2 Score:0.9001
Mean Squared Error:2521.0162
-----------------------------
Model Performance on Testing Data
-Root Mean Squared Error:49.6307
-Mean Absolute Error:38.9186
-R2 Score:0.9019
Mean Squared Error:2463.2049
       Actual Balance  Predicted Balance
0               328.0         367.349792
1               824.0         717.889556
2               638.0         629.775602
3               782.0         805.142269
4               483.0         454.866800
...               ...                ...
17995           779.0         805.183872
17996           325.0         367.429153
17997           651.0         628.914174
17998           694.0         630.581663
17999           415.0         456.432958

[18000 rows x 2 columns]
===================================


k-Neighbors
Model Performance on Trainig Data
-Root Mean Squared Error:138.2019
-Mean Absolute Error:115.7455
-R2 Score:0.2432
Mean Squared Error:19099.7607
-----------------------------
Model Performance on Testing Data
-Root Mean Squared Error:169.4455
-Mean Absolute Error:142.4660
-R2 Score:-0.1440
Mean Squared Error:28711.7876
       Actual Balance  Predicted Balance
0               328.0              543.8
1               824.0              674.2
2               638.0              658.0
3               782.0              635.8
4               483.0              519.0
...               ...                ...
17995           779.0              597.4
17996           325.0              517.0
17997           651.0              672.6
17998           694.0              625.2
17999           415.0              625.0

[18000 rows x 2 columns]
===================================


Decision Tree
Model Performance on Trainig Data
-Root Mean Squared Error:0.0000
-Mean Absolute Error:0.0000
-R2 Score:1.0000
Mean Squared Error:0.0000
-----------------------------
Model Performance on Testing Data
-Root Mean Squared Error:39.5081
-Mean Absolute Error:31.9213
-R2 Score:0.9378
Mean Squared Error:1560.8886
       Actual Balance  Predicted Balance
0               328.0              377.0
1               824.0              837.0
2               638.0              677.0
3               782.0              721.0
4               483.0              492.0
...               ...                ...
17995           779.0              758.0
17996           325.0              324.0
17997           651.0              664.0
17998           694.0              692.0
17999           415.0              401.0

[18000 rows x 2 columns]
===================================


Random Forest
Model Performance on Trainig Data
-Root Mean Squared Error:10.5860
-Mean Absolute Error:8.9272
-R2 Score:0.9956
Mean Squared Error:112.0644
-----------------------------
Model Performance on Testing Data
-Root Mean Squared Error:28.1124
-Mean Absolute Error:23.9624
-R2 Score:0.9685
Mean Squared Error:790.3084
       Actual Balance  Predicted Balance
0               328.0             345.92
1               824.0             829.13
2               638.0             650.71
3               782.0             749.98
4               483.0             444.39
...               ...                ...
17995           779.0             751.02
17996           325.0             340.95
17997           651.0             658.33
17998           694.0             652.08
17999           415.0             453.18

[18000 rows x 2 columns]
===================================


Adaboost Regressor
Model Performance on Trainig Data
-Root Mean Squared Error:27.9126
-Mean Absolute Error:23.9128
-R2 Score:0.9691
Mean Squared Error:779.1151
-----------------------------
Model Performance on Testing Data
-Root Mean Squared Error:27.7062
-Mean Absolute Error:23.7413
-R2 Score:0.9694
Mean Squared Error:767.6349
       Actual Balance  Predicted Balance
0               328.0         349.802082
1               824.0         824.399505
2               638.0         649.014289
3               782.0         749.860802
4               483.0         449.409224
...               ...                ...
17995           779.0         749.860802
17996           325.0         349.802082
17997           651.0         649.014289
17998           694.0         649.014289
17999           415.0         449.409224

[18000 rows x 2 columns]
===================================

In [30]:
knn_params = {'n_neighbors':[x for x in range(1,200)]}
rf_params = {"max_depth":[5,8,15,20,25],
             "max_features":[5,7,'sqrt',8],
             "min_samples_split":[2,8,15,20],
             "n_estimators":[100,200,500,1000]
            }
dt_params = {"max_depth":[5,8,15,20,25],
            "max_features":[5,7,'sqrt',8],
            "min_samples_split":[2,8,15,20],
            "min_samples_leaf":[2,6,13,17,20]
            }
ada_params = {
            "n_estimators":[50,60,70,80],
            "loss":['linear','square','exponential']
            }

In [31]:
randomcv_models = [('KNN',KNeighborsRegressor(),knn_params),
                   ('RF',RandomForestRegressor(),rf_params),
                   ('DT',DecisionTreeRegressor(),dt_params),
                   ('Adaboost',AdaBoostRegressor(),ada_params)
                ]

In [32]:
from sklearn.model_selection import RandomizedSearchCV
model_params = {}
for name,model,param in randomcv_models:
    random = RandomizedSearchCV(estimator=model,param_distributions=param,verbose=2,cv=3,n_jobs=2,n_iter=10)
    random.fit(x_train,y_train)
    model_params[name] = random.best_params_
for model_name in model_params:
    print(f"-------------Best parmas for {model_name}-------------")
    print(model_params[model_name])

Fitting 3 folds for each of 10 candidates, totalling 30 fits
Fitting 3 folds for each of 10 candidates, totalling 30 fits

c:\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:540: FitFailedWarning:
3 fits failed out of a total of 30.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
3 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Python312\Lib\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Python312\Lib\site-packages\sklearn\base.py", line 1473, in wrapper
    return fit_method(estimator, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Python312\Lib\site-packages\sklearn\ensemble\_forest.py", line 489, in fit
    trees = Parallel(
            ^^^^^^^^^
  File "c:\Python312\Lib\site-packages\sklearn\utils\parallel.py", line 67, in __call__
    return super().__call__(iterable_with_config)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Python312\Lib\site-packages\joblib\parallel.py", line 1918, in __call__
    return output if self.return_generator else list(output)
                                                ^^^^^^^^^^^^
  File "c:\Python312\Lib\site-packages\joblib\parallel.py", line 1847, in _get_sequential_output
    res = func(*args, **kwargs)
          ^^^^^^^^^^^^^^^^^^^^^
  File "c:\Python312\Lib\site-packages\sklearn\utils\parallel.py", line 129, in __call__
    return self.function(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Python312\Lib\site-packages\sklearn\ensemble\_forest.py", line 192, in _parallel_build_trees
    tree._fit(
  File "c:\Python312\Lib\site-packages\sklearn\tree\_classes.py", line 472, in _fit
    builder.build(self.tree_, X, y, sample_weight, missing_values_in_feature_mask)
  File "_tree.pyx", line 172, in sklearn.tree._tree.DepthFirstTreeBuilder.build
  File "_tree.pyx", line 287, in sklearn.tree._tree.DepthFirstTreeBuilder.build
  File "_tree.pyx", line 942, in sklearn.tree._tree.Tree._add_node
  File "_tree.pyx", line 910, in sklearn.tree._tree.Tree._resize_c
  File "_utils.pyx", line 35, in sklearn.tree._utils.safe_realloc
MemoryError: could not allocate 4194304 bytes

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Python312\Lib\site-packages\sklearn\model_selection\_search.py:1052: UserWarning: One or more of the test scores are non-finite: [0.90774924 0.86920072 0.96357087 0.96722048 0.96809635 0.96872754
        nan 0.96843715 0.93091691 0.96483496]
  warnings.warn(

Fitting 3 folds for each of 10 candidates, totalling 30 fits
Fitting 3 folds for each of 10 candidates, totalling 30 fits
-------------Best parmas for KNN-------------
{'n_neighbors': 198}
-------------Best parmas for RF-------------
{'n_estimators': 100, 'min_samples_split': 2, 'max_features': 7, 'max_depth': 15}
-------------Best parmas for DT-------------
{'min_samples_split': 8, 'min_samples_leaf': 20, 'max_features': 8, 'max_depth': 25}
-------------Best parmas for Adaboost-------------
{'n_estimators': 60, 'loss': 'square'}

In [33]:
models = {
    "k-Neighbors":KNeighborsRegressor(n_neighbors=198),
    "Random Forest Regressor": RandomForestRegressor(n_estimators=100,min_samples_split=2,max_depth=7,max_features=15),
    "Decsion Tree Regressor":DecisionTreeRegressor(min_samples_split=8,min_samples_leaf=20,max_features=8,max_depth=25),
    "Adaboost Regressor": AdaBoostRegressor(n_estimators=60,loss='square')
}

In [34]:
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(x_train,y_train)

    y_pred_train = model.predict(x_train)
    y_pred_test = model.predict(x_test)

    mae_model_train,mse_model_train,r2score_model_train,rmse_model_train = evaluate_model(y_train,y_pred_train)
    mae_model_test,mse_model_test,r2score_model_test,rmse_model_test = evaluate_model(y_test,y_pred_test)

    print(list(models.keys())[i])
    print('Model Performance on Trainig Data')
    print('-Root Mean Squared Error:{:.4f}'.format(rmse_model_train))
    print('-Mean Absolute Error:{:.4f}'.format(mae_model_train))
    print('-R2 Score:{:.4f}'.format(r2score_model_train))
    print('Mean Squared Error:{:.4f}'.format(mse_model_train))

    print('-----------------------------')

    print('Model Performance on Testing Data')
    print('-Root Mean Squared Error:{:.4f}'.format(rmse_model_test))
    print('-Mean Absolute Error:{:.4f}'.format(mae_model_test))
    print('-R2 Score:{:.4f}'.format(r2score_model_test))
    print('Mean Squared Error:{:.4f}'.format(mse_model_test))
    cal = pd.DataFrame(np.c_[y_test,y_pred_test],columns=['Actual Balance','Predicted Balance'])
    print(cal)

    print('='*35)
    print('\n')

k-Neighbors
Model Performance on Trainig Data
-Root Mean Squared Error:157.9463
-Mean Absolute Error:136.7033
-R2 Score:0.0115
Mean Squared Error:24947.0394
-----------------------------
Model Performance on Testing Data
-Root Mean Squared Error:158.2492
-Mean Absolute Error:136.8712
-R2 Score:0.0022
Mean Squared Error:25042.8063
       Actual Balance  Predicted Balance
0               328.0         567.585859
1               824.0         571.232323
2               638.0         574.585859
3               782.0         577.085859
4               483.0         564.742424
...               ...                ...
17995           779.0         580.015152
17996           325.0         575.111111
17997           651.0         575.292929
17998           694.0         568.237374
17999           415.0         573.338384

[18000 rows x 2 columns]
===================================


Random Forest Regressor
Model Performance on Trainig Data
-Root Mean Squared Error:27.6817
-Mean Absolute Error:23.7086
-R2 Score:0.9696
Mean Squared Error:766.2751
-----------------------------
Model Performance on Testing Data
-Root Mean Squared Error:27.7263
-Mean Absolute Error:23.7519
-R2 Score:0.9694
Mean Squared Error:768.7454
       Actual Balance  Predicted Balance
0               328.0         348.888764
1               824.0         824.445611
2               638.0         648.779216
3               782.0         749.507275
4               483.0         449.831765
...               ...                ...
17995           779.0         750.133866
17996           325.0         348.487441
17997           651.0         650.710641
17998           694.0         648.794493
17999           415.0         449.925951

[18000 rows x 2 columns]
===================================


Decsion Tree Regressor
Model Performance on Trainig Data
-Root Mean Squared Error:25.9744
-Mean Absolute Error:21.6050
-R2 Score:0.9733
Mean Squared Error:674.6678
-----------------------------
Model Performance on Testing Data
-Root Mean Squared Error:30.2177
-Mean Absolute Error:25.1941
-R2 Score:0.9636
Mean Squared Error:913.1065
       Actual Balance  Predicted Balance
0               328.0         354.250000
1               824.0         832.727273
2               638.0         654.680000
3               782.0         753.185185
4               483.0         454.187500
...               ...                ...
17995           779.0         757.029412
17996           325.0         347.884615
17997           651.0         664.238095
17998           694.0         664.120000
17999           415.0         469.617647

[18000 rows x 2 columns]
===================================


Adaboost Regressor
Model Performance on Trainig Data
-Root Mean Squared Error:27.9124
-Mean Absolute Error:23.9144
-R2 Score:0.9691
Mean Squared Error:779.1019
-----------------------------
Model Performance on Testing Data
-Root Mean Squared Error:27.7033
-Mean Absolute Error:23.7401
-R2 Score:0.9694
Mean Squared Error:767.4710
       Actual Balance  Predicted Balance
0               328.0         349.724405
1               824.0         824.547700
2               638.0         648.990901
3               782.0         749.587116
4               483.0         449.193022
...               ...                ...
17995           779.0         749.587116
17996           325.0         349.724405
17997           651.0         648.990901
17998           694.0         649.349831
17999           415.0         449.193022

[18000 rows x 2 columns]
===================================

In [35]:
import joblib
from sklearn.ensemble import RandomForestRegressor
best_model = RandomForestRegressor(n_estimators=100,min_samples_split=2,max_depth=7,max_features=15)
best_model.fit(x_train, y_train)

joblib.dump(best_model, 'student_performance_model.pkl')

['student_performance_model.pkl']

In [36]:
print(x_train.shape)  # This will show (rows, features)
print(x_train.columns)  # This will list all feature names

(72000, 17)
Index(['Region', 'Gender', 'Enrollment_Type', 'Subject_Group', 'SSC_I_Marks',
       'SSC_II_Marks', 'HSSC_I_Marks', 'Attendance_Rate',
       'Parent_Education_Level', 'Parent_Income', 'Study_Hours',
       'Extra_Tuition', 'School_Type', 'Previous_Failures',
       'Co_Curricular_Activities', 'Exam_Attempts', 'HSSC_II_Grade'],
      dtype='object')